@media (min-width: 768px) {
    body::before {
        display: block;
        content: "";
        height: 75px;
    }

    #map {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    .news-input {
        width: 50%;
        border-radius: 10px;
    }
}